/* 本例子css -------------------------------------- */
.tabBox{}
.tabBox .hd{ height:4.2rem;font-size:1.6rem; background:#fff; border-bottom:1px solid #ccc; position:relative;overflow-x:auto;overflow-y:hidden;}
.tabBox .hd ul{ position:absolute; height:4.2rem; top:0; overflow:hidden;transition:0.3s;white-space: nowrap;font-size:0;}
.tabBox .hd ul li{padding:0 1rem; color:#666;position:relative;display:inline-block;}
.tabBox .hd ul li a{display:block;height:4.2rem;line-height:4.2rem;font-size:1.6rem;}
.tabBox .hd ul .on{color:#2C8EB5;}
.tabBox .hd ul .on a{ display:block;border-bottom:3px solid #2C8EB5; /* 修复Android 4.0.x 默认浏览器当前样色无效果bug */  }
.tabBox .bd ul{ padding:10px 0 10px 10px;  }
.tabBox .bd li{ height:33px; line-height:33px;   }
.tabBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */