.page-view{height:100%;position:relative;z-index:10;background:#fff;transition:0.2s;}
.page-view.has-head{padding-top:6vh;}
.page-view .page-head{height:6vh;background:#009AE9;margin-top:-6vh;position:relative;}
.page-view .page-head .title{text-align:center;font-size:1.6rem;color:#fff;height:6vh;line-height:6vh;padding:0 6vh;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.page-view .page-head .menu{display:inline-block;width:6vh;height:100%;position:absolute;left:0;top:0;background:url("../img/ion-menu.png") no-repeat
    center center;}
.page-view .page-head .menu:active{opacity:0.9;background-color:rgba(255,255,255,0.1);}
.page-content{height:100%;overflow:auto;}
.page-aside{width:70%;height:100%;position:absolute;top:0;left:0;background:#009AE9;z-index:1;padding-top:30vw;padding-bottom:6rem;}
.page-aside .aside-head{width:100%;background:#fff;height:30vw;margin-top:-30vw;}
.page-aside .aside-head img{width:100%;vertical-align: top;}
.aside-content{height:100%;width:100%;overflow:auto;padding:1rem 0;}
.aside-list li a{display:table;width:100%;padding:1rem;}
.aside-list li a span{vertical-align: middle;display:table-cell;font-size:1.4rem;color:#fff;}
.aside-list li a span:first-child{width:30%;padding-left:2rem;}
.aside-footer{height:6rem;width:100%;display:table;}
.aside-footer .aside-weather{display:table-cell;text-align:right;padding-right:1rem;}
.aside-weather h2{font-size:1.6rem;color:#fff;width:5rem;display:inline-block;text-align:left;margin-bottom:0.5rem;}
.aside-weather p{font-size:1.4rem;color:#fff;}
/* 本例子css -------------------------------------- */
.tabBox{height:100%;}
.tabBox .hd{ height:4.2rem;font-size:1.6rem; background:#fff; border-bottom:1px solid #ccc; position:relative;overflow-x:auto;overflow-y:hidden;}
.tabBox .hd ul{ position:absolute; height:4.2rem; top:0; overflow:hidden;transition:0.3s;white-space: nowrap;font-size:0;}
.tabBox .hd ul li{padding:0 1rem; color:#666;position:relative;display:inline-block;}
.tabBox .hd ul li a{display:block;height:4.2rem;line-height:4.2rem;font-size:1.6rem;}
.tabBox .hd ul .on{color:#2C8EB5;}
.tabBox .hd ul .on a{ display:block;border-bottom:3px solid #2C8EB5; /* 修复Android 4.0.x 默认浏览器当前样色无效果bug */  }
.tabBox .bd ul{ padding:10px 0 10px 10px;  }
.tabBox .bd li{ height:33px; line-height:33px;   }
.tabBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */
