body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,figcaption,figure,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1 Lucida Grande,'Microsoft YaHei',"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif}
h1{font-size:18px;font-weight:normal}
h2{font-size:16px;font-weight:normal}
h3{font-size:14px;font-weight:normal}
h4,h5,h6{font-size:100%;font-weight:normal}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace}
small{font-size:12px}
ul,ol,li{list-style:none}
a{text-decoration:none}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help}
q:before,q:after{content:''}
legend{color:#000}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;height:1px}
html{font-size:calc(100vw/37.5);}/*iphone 6*/
/*@media all and (max-width: 320px){html{font-size:calc(100vw/32);}}!*iphone4\5*!
@media all and (max-width: 360px){html{font-size:calc(100vw/36);}}!*Galaxy s5*!
@media all and (max-width: 411px){html{font-size:calc(100vw/41.1);}}!*Galaxy s5*!
@media all and (max-width: 414px){html{font-size:calc(100vw/41.4);}}!*iphone 6 plus*!
@media all and (max-width: 435px){html{font-size:calc(100vw/43.5);}}!*Nexus 6p*!
@media all and (max-width: 480px){html{font-size:calc(100vw/48);}}!*Nexus 6p*!
@media all and (max-width: 568px){html{font-size:calc(100vw/56.8);}}!*Nexus 6p*!
@media all and (max-width: 640px){html{font-size:calc(100vw/64);}}!*Nexus 6p*!
@media all and (max-width: 667px){html{font-size:calc(100vw/66.7);}}!*Nexus 6p*!
@media all and (max-width: 731px){html{font-size:calc(100vw/73.1);}}!*Nexus 6p*!
@media all and (max-width: 736px){html{font-size:calc(100vw/73.6);}}!*Nexus 6p*!
@media all and (max-width: 768px){html{font-size:calc(100vw/76.8);}}!*Nexus 6p*!
@media all and (max-width: 773px){html{font-size:calc(100vw/77.3);}}!*Nexus 6p*!
@media all and (max-width: 1024px){html{font-size:calc(100vw/1024);}}!*Nexus 6p*!*/
html,body{height:100%;}
*{-ms-word-break:break-all;word-break:break-all;-ms-word-wrap:break-word;word-wrap:break-word;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing: border-box;}


/*首页*/
.focus{ width:100%; height:40vw;margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;}
.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
.focus .hd ul .on{ background:#FE6C9C;  }
.focus .bd{ position:relative; z-index:0;height:100%;}
.focus .bd li img{ width:100%;  height:40vw; background:url(../img/loading.gif) center center no-repeat;  }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
/*icon-list*/
.slide-icon{font-size:0;}
.slide-icon li{display:inline-block;width:25%;}
.slide-icon li a{display:inline-block;width:100%;font-size:1.4rem;text-align:center;padding:0.8rem;border-radius:1rem;}
.slide-icon li a b{display:block;text-align:center;font-weight:normal;color:#7D7D7D;padding:0.5rem 0 0;}
.slide-icon li a:active,.block-link:active{background:rgba(0,0,0,0.05);}
.module-title{background:#E6E6E6;font-size:1.6rem;color:#000;padding:0.3rem 1.5rem;margin:0.8rem 0;}
.row{display:table;width:100%;}
.col{display:table-cell;}
.col-33{width:33.3%;}
.col-66{width:66.6%;}
.fs-14{font-size:1.4rem;}
.c-666{color:#666;}
.v-m{vertical-align:middle;}
.ptb-1{padding-top:0.5rem;padding-bottom:0.5rem;}
.plr-2{padding-left:2rem;padding-right:2rem;}
.has-subline{border-bottom:1px solid #EFEFEF;}
/*列表*/
.thumb-list li{border-bottom:1px solid #EFEFEF;padding:0.3rem 0;}
.thumb-list li a{display:block;position:relative;overflow:hidden;zoom:1;padding:0.6rem 2vw 0.6rem 30vw;}
.thumb-list li a .thumb{margin-left:-26vw;float:left;}
.thumb-list li a .title{display:block;font-size:1.4rem;color:#009AE9;font-weight:normal;line-height:2rem;}
.thumb-list li a span{color:#9FA0A0;font-size:1.4rem;display:inline-block;width:50%;float:left;font-size:1.2rem;padding-left:1.5rem;line-height:2rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ion-time{background:url("../img/ion-clock.png") no-repeat left center;}
.ion-gps{background:url("../img/ion-gps.png") no-repeat left center;}